//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^oskhubert.pl[nc]
RewriteRule ^(.*)$ http://www.oskhubert.pl/$1 [r=301,nc]

//Change default directory page
DirectoryIndex index.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes